@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Nunito:300,400|Asap:500,700");/* Importing fonts from google*/
html,
/* start with the specifics and tab them */
* { margin: 0; padding: 0; }/*get's rid of the defaults for divs and sections...*/ 
body{
  color: #222;
  font-size: 16px;
  background: whitesmoke;
}

.useless{
  padding:1rem;
}
/*        First TAG      */
.Encounter{
  color: #dfdfdf;
}
.divider {
  display: block;
  width: 90px;
  height: 3px;
  background-color: #6e67c9;
  margin-left: 4.5rem;
}

.welcome{
  font-size: 68px;
  margin: 2rem;
  margin-left: 4rem;
  color: whitesmoke;
}
.Introduction{
  margin-top: 3.5rem;
  margin-right: 3.5rem;
  margin-bottom: 3.5rem;
  margin-left: 10rem;
  font-size: 30px;
  font-family: "Helvetica", "Tahoma", "Arial", sans-serif;
  color: white;
}
.Logo{
  margin-left: 4rem;
  padding: 0.25rem;
  padding-top:0rem;
  width: 8%;
  height:13%;
  margin-top: 8px;
}

.Table{
  align-items: center;
}
.Table ul{
  /*done this so i can re-use the table class in the BUttons :D*/
  display: grid;   /* Allow the centering to work */
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 1rem; 
  grid-row-gap:  1rem ;
  list-style: none;
  border-right: 1px solid transparent;
	/*;*/
}
.Table li{
  word-wrap: break-word;
}

@media only screen and (min-width:750px) and (max-width: 1200px) {
  /* For mobile phones: */
  .Table ul{
    grid-template-columns: repeat(2, 1fr);
  }
  
}

.list{
  margin: 0 auto; /*automatically centres right/left the div*/
  display: table;   /* Allow the centering to work */
  padding-bottom: 4rem;
}
.list ul li{
  /*done this so i can re-use the table class in the BUttons :D*/
  float:left;  /*hadi hiya li 3liha l3emda*/
  list-style: none;
  border-right: 1px solid transparent;
	/*;*/
}

.Social-link i {
  padding-right: 2rem;
  color: #6e67c9;
}

/*            BUTTONS       */
.button-section{
  color: #fff;
  background-image: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
  padding: 0 ;  
}
.Button{
  padding:2.5rem 10rem 0rem 10rem ;
  font-size: 30px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.Button a:link{
  padding:2rem 0rem; /*top-btm + righ left*/
  color:white;
  text-decoration: none; /*to get rid of the underline*/
}
.Button a:visited {
  color: white;
}
.Button a:hover{
  opacity: 0.5;

}

/*         footer           */
footer{
  margin-top: 1rem;
  padding-bottom: 1rem;
  text-align: center;
  font-size: 20px;
  font-family: 'comic sans' , Tahoma;
}
#hart{
  color:red;
}

.fa-beat {
  animation:fa-beat 5s ease infinite;
}
@keyframes fa-beat {
  0% {
    transform:scale(1);
  }
  5% {
    transform:scale(1.25);
  }
  20% {
    transform:scale(1);
  }
  30% {
    transform:scale(1);
  }
  35% {
    transform:scale(1.25);
  }
  50% {
    transform:scale(1);
  }
  55% {
    transform:scale(1.25);
  }
  70% {
    transform:scale(1);
  }
}


.more{
    text-align: justify;
    margin:0.8rem;
    padding-left:0.5rem;
    overflow:auto; /*creates a scroll on demand*/
    /* word-break: break-all; doesn't work for sm reason :/*/
    max-width: 440px;
    min-height: 300px;
}



.lipad li{
    background-color: #e5e5e5 ;
    border-radius: 1.5rem;
    display: grid;
    place-items: center;
}

.go-back-button a:link i{
    color:white;
}
.go-back-button a:visited i{
    color:white;
}
.Title{
    font-size: 68px;
    margin: 2rem 2rem 4rem 4rem;
    font-family:"futura_m","Asap", "Helvetica", "Tahoma", "Arial", sans-serif;
    letter-spacing: 1rem;
}

.text{
    margin: 3.5rem 3.5rem 1rem 5rem;
    font-size: 35px;
    font-family: "Helvetica", "Tahoma", "Arial", sans-serif;
    letter-spacing: 0.3rem;
}
.text2{
    font-size: 35px;
    font-family: "Helvetica", "Tahoma", "Arial", sans-serif;
    letter-spacing: 0.3rem;
    margin-left: 5rem;
    margin-bottom: 2.5rem;
}
.scrollDown{
    position: fixed;
    color:whitesmoke;
    transform-origin: 0 0;
    font-size: 14px;
    transform: rotate(90deg);
    padding-bottom: 4.35rem;
}

/* bot side */
.botside{
    padding: 0 4rem;
    background: whitesmoke;
    font-family: "Helvetica", "Tahoma", "Arial", sans-serif;
    font-size:16px;

}
.divider-left{
    box-sizing: border-box;
    content: "";
    width: 4.8rem;
    height: 2px;
    background: #020b16;
    position: relative; /*need to dig into this thing*/
    top: -2rem;
    bottom: 0;
    left: -9rem;
    margin: 0;
}
.icon{
    max-width: 200px;
    max-height: 200px;
    padding:0 7rem 3rem 7rem ;
}
.head1{
    padding-bottom: 1rem;
    font-size: 30px;
    letter-spacing: 0.2rem;
}
.head2{
    padding-bottom: 1rem;
    font-size: 30px;
    letter-spacing: 0.2rem;
}
.head3{
    font-size: 30px;
    letter-spacing: 0.05rem;
}
.text3{
    padding-top:1rem;
    line-height: 35px;
    color:#5f5f5f;
}
.text3b{
    padding-top:1rem;
    padding-left:2rem;
    line-height: 35px;
    color:#5f5f5f;
}
.text3a{
    padding:4rem 3rem 4rem;
    font-size: 25px;
    letter-spacing: 0.05rem;
    color:#5f5f5f;
}
.right-img{
    float:right;
    position: relative;
    top: -7.5rem;
    bottom: 0;
    left: 7rem;
    margin: 0;
}
.ensias-img{
    height: 320px;
    width:600px;
    border-radius: 10px;
}
.education{
    padding-bottom: 3rem;
}
/* header*/

.navigation{
    display: flex;
    flex-direction: row-reverse;
    background-color:transparent;
}

.navigation ul {
    position: fixed;/*even if you scroll it follows*/
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
  
.navigation li {
    float: left;
    border-right: 1px solid transparent;
}
  
.navigation li a {
    display: block;
    color: white;
    text-align: center;
    padding: 20px 20px;
    text-decoration: none;
  }
  
  .topside{
    font-family: "Helvetica", "Tahoma", "Arial", sans-serif;
    color:white;
    padding: 2rem 0 180px 3rem;
}
.navigation li a:hover {
  background-color: #4CAF50;
}
.scroll{
  background-color:#2b8a6f;
}
.divider1{
  display: block;
  width: 90px;
  height: 3px;
  background-color: #238367;
}
.divider2{
  margin-left: 4.5rem;
  margin-top: 1rem;
  margin-bottom: 3.5rem;
  display: block;
  width: 90px;
  height: 3px;
  background-color: #238367;
}
.go-back-button a:hover i{
  color:#238367; /*Need an animation here from 0 to left*/
}
.more a{
  text-decoration: none;
  color:rgb(22, 165, 22);
}