@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Nunito:300,400|Asap:500,700");/* Importing fonts from google*/
html,
/*.go-back-button i{
    color:white;
}*/
.go-back-button a:link i{
    color:white;
}
.go-back-button a:visited i{
    color:white;
}
.go-back-button a:hover i{
    color:#238367; /*Need an animation here from 0 to left*/
}
.topside{
    background-image: url("Images/top-side wallpaper.png");
    background-size: cover;
    font-family: "Helvetica", "Tahoma", "Arial", sans-serif;
    color:white;
    padding: 2rem 0 180px 3rem;
}
.Title{
    font-size: 68px;
    margin: 2rem 2rem 4rem 4rem;
    font-family:"futura_m","Asap", "Helvetica", "Tahoma", "Arial", sans-serif;
    letter-spacing: 1rem;
}
.divider1{
    display: block;
    width: 90px;
    height: 3px;
    background-color: #238367;
  }
.divider2{
    margin-left: 4.5rem;
    margin-top: 1rem;
    margin-bottom: 3.5rem;
    display: block;
    width: 90px;
    height: 3px;
    background-color: #238367;
}
.text{
    margin: 3.5rem 3.5rem 1rem 5rem;
    font-size: 35px;
    font-family: "Helvetica", "Tahoma", "Arial", sans-serif;
    letter-spacing: 0.3rem;
}
.text2{
    font-size: 35px;
    font-family: "Helvetica", "Tahoma", "Arial", sans-serif;
    letter-spacing: 0.3rem;
    margin-left: 5rem;
    margin-bottom: 2.5rem;
}
.scrollDown{
    position: fixed;
    color:whitesmoke;
    transform-origin: 0 0;
    font-size: 14px;
    transform: rotate(90deg);
    padding-bottom: 4.35rem;
}

/* bot side */
.botside{
    padding: 0 4rem;
    background: whitesmoke;
    font-family: "Helvetica", "Tahoma", "Arial", sans-serif;
    font-size:16px;

}
.divider-left{
    box-sizing: border-box;
    content: "";
    width: 4.8rem;
    height: 2px;
    background: #020b16;
    position: relative; /*need to dig into this thing*/
    top: -2rem;
    bottom: 0;
    left: -9rem;
    margin: 0;
}
.icon{
    max-width: 200px;
    max-height: 200px;
    padding:0 7rem 3rem 7rem ;
}
.head1{
    padding-bottom: 1rem;
    font-size: 30px;
    letter-spacing: 0.2rem;
}
.head2{
    padding-bottom: 1rem;
    font-size: 30px;
    letter-spacing: 0.2rem;
}
.head3{
    font-size: 30px;
    letter-spacing: 0.05rem;
}
.text3{
    padding-top:1rem;
    line-height: 35px;
    color:#5f5f5f;
}
.text3b{
    padding-top:1rem;
    padding-left:2rem;
    line-height: 35px;
    color:#5f5f5f;
}
.text3a{
    padding:4rem 3rem 4rem;
    font-size: 25px;
    letter-spacing: 0.05rem;
    color:#5f5f5f;
}
.right-img{
    float:right;
    position: relative;
    top: -7.5rem;
    bottom: 0;
    left: 7rem;
    margin: 0;
}
.ensias-img{
    height: 320px;
    width:600px;
    border-radius: 10px;
}
.education{
    padding-bottom: 3rem;
}
/* header*/

.navigation{
    display: flex;
    flex-direction: row-reverse;
    background-color:transparent;
}
.scroll{
    background-color:#2b8a6f;
}

.navigation ul {
    position: fixed;/*even if you scroll it follows*/
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
  
.navigation li {
    float: left;
    border-right: 1px solid transparent;
}
  
.navigation li a {
    display: block;
    color: white;
    text-align: center;
    padding: 20px 20px;
    text-decoration: none;
  }
  
.navigation li a:hover {
    background-color: #4CAF50;
  }